/* signup.css */

/* General styles for the signup page */
body {
    font-family: Arial, sans-serif;
    background-color: #f2e6ff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  #signup-form {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    box-sizing: border-box;
  }
  
  h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  #signup-username,
  #signup-password {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  button {
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  button:hover {
    background-color: #218838;
  }
  
  p {
    text-align: center;
    margin-top: 20px;
  }
  
  a {
    color: #28a745;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  